::-webkit-scrollbar {

    display: none;
    
}

.organization-tab {

    height: 250px; 
    width: 200px; 
    box-shadow: 0 4px 20px 0 rgba(46,204,113,0.3); 
    padding: 10px; 
    float: left; 
    position: relative;
    top: 0px;
    transition: top ease 0.5s;
    justify-content: space-around; 
    margin-top: 15px;
    margin-left: 30px; 

}

.organization-tab:hover {

    top: -10px;

}

.organization-name {

    text-align: center;
    margin-top: 5px;
    font-size: 150%;

}

.organization-description {

    text-align: center;
    font-size: 75%;

}

.organization-image {

    display: block; 
    width: 100px; 
    height: 100px; 
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;

}

.gradient-border {

    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);

}

.gradient-border:after {

    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;

}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
